# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
out-ios/

# Dependencies
node_modules/

# Build
*.tsbuildinfo

# Environment
.env
.env.local
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
nul
*.bak*
